    *{
        margin: 0;
        padding: 0;
    }

    header{
        position: fixed;
        width: 100%;
        z-index: 1;
        top: 0;
    }

    header .my-cont{
        padding-top: 13px;
    }

    header .logo{
        color: white;
        display: block;
        text-decoration: none;
        font-size: 1rem;
        padding-top: 22.5px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        line-height: 1.5rem;
        font-size: 24px;
    }

    header .my-cont ul{
        float: right;
        list-style: none;
        padding-top: 5px;
    }

    .my-cont ul li{
        display: inline-block;
        position: relative;
        padding-top: 7px;
        padding-left: 50px;
        text-align: left;
    }

    .my-cont ul li a{
        color: white;
        display: block;
        text-decoration: none;
        font-size: 1rem;
        padding-top: 12px;
        padding-left: 10px;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        line-height: 1.5rem;
    }

    .my-cont ul li a:hover{
        color: #1abc9c;
    }

    header .logo:hover{
        color: #1abc9c;
    }

    .bg-img-react{
        
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://miro.medium.com/max/2400/1*rpHtt5VicGT3T-mVJJ2jFw.gif");
        min-height: 600px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column-reverse;
    } 

    .bg-img-react h1{
        color: white;
        text-align: center;
        margin-bottom: 2.5rem;
        letter-spacing: 5px;
    }

    /* First Section && Second section*/

    .first-section{
        margin-top: 90px;
    }

    .section-two{
        margin-top: 20px;
    }

    .first-section img,
    .section-two img{
        margin-top: 10%;
        width: 100%;
    }

    .first-section h3,
    .section-two h3{
        margin-bottom: 1.5rem;
        border-bottom: 2px solid #1abc9c;
        padding-bottom: 5px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }

    .section-two h3{
        margin-top: 10%;
    }

    .first-section p,
    .section-two p{
        font-family: 'Open Sans', sans-serif;
        text-align: justify;
    }

    /* Footer */

    #footer {
        margin-top: 100px;
        background-color: #2f2f2f;
        padding-top: 50px;
        padding-bottom: 50px; 
    }
    
    #footer p {
        color: white;
    }
    
    #footer h4 {
        color: white;
        text-transform: uppercase;
        padding-bottom: 20px;
    }

    .top-2{
        position: fixed;
        width: 100%;
        z-index: 1;
        top: 0;
        transition: 500ms;
        background: #2f2f2f;
        transition:500ms;
    }
    
    .top-2 nav ul li a{
        color: white;
        font-weight: bold;
    }
    
    .top-2 nav ul li a:hover{
        transition: 500ms;
    }

    /* MENU RESPONSIVE */

.ver-menu {
    text-decoration: none;
    color: #333;
    background-color: rgba(30, 35, 54, 0.3);
    text-align: right;
    padding: 6px 15px;
    display: none;
    z-index: 1000;
    position: relative;
    float: right;
    margin: 5px 18px;
    font-size: 20px;
}

.fas {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

input[type="checkbox"]:checked ~ #menu-lista {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 990px){
    .ver-menu{
        display: block;
    }
    header ul{
        display: none;
    }

    header .menu-index ul {
        float: right;
        background: #1f1d1d;
}
}